{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<div class="row">
 <form method="POST" action="">
  <input type="text" name="titre" />
  <input type="text" name="description" />
  <input type="checkbox" name="paye" />

  <input type="submit" value="submit" name="submit" />

 </form>
</div>
</div>

{% endblock %}
